:root {
  --backgroundColorFooter: #171717;
  --textColor: #ffffff;
  --borderColor: silver 0.8px solid;
  --containerTitleSize: 25px;
}


.footer > div{
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
  max-width: 2560px;
  width: 100vw;

}


.footer {
  height: 150px;
  border-top: var(--borderColor);
  bottom: 0;
  /* width: 100%; */
  width: 100vw;
  overflow: auto;
}

.logo-container-footer {
  width: 40%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container-footer > * {
  margin: 0px 3% 0px 3%;
  font-weight: 200;
}

.logo-container-footer span,
h1,
img {
  color: var(--textColor);
}

@media (max-width: 576px) {
  .logo-container-footer:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .logo-container-footer:nth-child(2) > *:not(:first-child) {
    margin-top: 8px;
  }

  .footer {
    min-width: 280px;
  }
}
