/* fileName: createAccount */


:root {
  --backgroundColorModal: #2d2e30;
  --textColor: #000000;
  --buttonTextColor: #ffffff;
  --borderColor: 0.8px solid #c0c0c0;
  --linkColor: #add8e6;
}

.createAccountModal {
  box-shadow: 2px 2px 5px #2d2e30;
  background: #2d2e30;
  border-radius: 22.5px;
  width: 75%;
  /* height: 80%; */
  height: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
  overflow-y: auto;
  border: var(--borderColor);
  max-height: 1187.5px;
  max-width: 1080px;
}

.createAccountModal > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
}

.createAccountModalHeader {
  width: 95%;
  height: 10%;
  margin: 1% 0% 0% 0%;
  color: var(--textColor);
  position: relative;
}

.createAccountModalHeader svg {
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 2em;
}

.createAccountModalHeader h1 {
  margin-top: 2%;
  font-size: 2em;
  margin: 3% 0px 0px 5%;
}

.createAccountModal label {
  color: var(--textColor);
  /* margin-bottom: 200px; */
  white-space: nowrap;
}


.createAccountModal-form {
  display: flex;
  flex-direction: column;
  /* border: solid 2psx pink; */
  width: 100%;
  height: 75%;
  padding: 0% 0% 0px 20%;
  overflow-y: scroll;
}

.createAccountModal-input {
  color: var(--textColor);
  background: none;
  border: none;
  border-bottom: var(--borderColor);
  width: 100%;
  /* height: 50%; */
  height: 25px;
  /* position: absolute; */
  min-width: 138.898px;
  margin-top: 8px;
  /* border: solid 3px green; */
}

.sectionContainer {
  /* margin: 5% 0px 5% 0px; */
  margin: 23.0391px 0px 23.0391px 0px;
  display: flex;
  border: 0.0001px solid var(--backgroundColorModal);
  position: relative;
}

#pleaseCheckBoxTxt{
  height: 11.5px;
}

#pleaseCheckBoxTxt,
.sectionContainer span{
  /* display: none; */
  color: red;
  font-size: 10px;;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  /* height: 250%; */
  height: 95px;
  position: relative;
  width: 30%;
}

.inputContainer > *:not(:first-child, :nth-child(2)){
  margin-top: 8px;
}

.inputContainer  svg{
  transform: translateY(1.3px);
}

.sectionContainer div:nth-child(2) {
  margin-left: 15%;
}

.dropDownOptionsContainer {
  /* display: inline; */
  justify-content: center;
  border: solid 2px magenta;
  height: 100%;
  width: 80%;
}

#beliefs,
#sex {
  height: 40%;
}

#reasonsForJoiningContainer {
  margin: 5% 0px 0px 0px;
  flex-direction: column;
  /* border: solid 2px pink; */
  height: 120%;
}

#reasonsForJoiningContainer textarea {
  margin: 1% 0px 0px 0px;
  width: 60%;
  padding: 0.5em;
  outline: none;
  resize: none;
  /* width: 34vw; */
  width: 85%;
  height: 25vh;
  max-height: 250px;
  font-size: 1.1em;
  word-wrap: break-word;

  /* border-bottom: solid lightgrey .2px; */
  border-bottom: var(--borderColor)
}

.agreeToTerms {
  width: 100%;
  margin: 5% 0px 2% 0px;
}

.submitButtonContainer {
  width: 80%;
  height: 400%;
  display: grid;
  place-items: center;
}

.link {
  text-decoration: underline;
  color: var(--linkColor);
}

.createAccountModalHeader > h1 span:nth-child(2){
  display: none;
}

.createAccountModalHeader>h1 span:nth-child(2){
  font-size: 20px;
}

#reasonsForJoiningContainer{
  height:242.359px;
}

#reasonsForJoiningContainer  span{
margin-top: 8px;
}

.checkBoxBtn.onCreateAccount{
  margin-left: 0px;
}

@media (max-width: 767px){
    .createAccountModal {
      border-radius: 0%;
      position: fixed;
      width: 101vw;
      height: 101vh;
      min-height: 100vh;
      overflow-y: scroll;
      z-index: 10000000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .sectionContainer{
      margin: 20px 0px 20px 0px;
    }
}

@media (max-width: 575px){
  .createAccountModalHeader>h1 span:nth-child(2) {
    display: flex;
  }

  .createAccountModalHeader>h1 span:nth-child(1){
    display: none;

  }


  .sectionContainer.emailAndPhoneContainer,
  .sectionContainer.passwordContainer,
  .sectionContainer.firstAndLastName{
    flex-direction: column;
  }

.sectionContainer.emailAndPhoneContainer >div:nth-child(2),
  .sectionContainer.passwordContainer > div:nth-child(2),
  .sectionContainer.firstAndLastName > div:nth-child(2){
    margin-left: 0px;
    margin-top: 36px;
  }

  .inputContainer{
    width: 80%;
  }

  .createAccountModalHeader svg{
    font-size: 1.4em;
  }

}



