:root {
  --backgroundColorModal: #2d2e30;
  --textColor: #ffffff;
  --borderColor: 0.8px solid #c0c0c0;
  --linkColor: #0000ff;
}

/* rgb(0 0 0 / 20%); */

.signInModal {
  box-shadow: 2px 2px 5px #2d2e30;
  background: var(--backgroundColorModal);
  border-radius: 3vh;
  width: 25%;
  height: 350%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInModal h1 {
  text-align: center;
  margin: 5% 0px 10% 0px;
  font-size: 1.4em;
}

.signInModal input {
  margin: 0px 0px 10% 0px;
  background: none;
  border: none;
  border-bottom: var(--borderColor);
  width: 80%;
  font-size: 1.1em;
  color: var(--textColor);
}

#buttonSignIn {
  width: 50%;
  height: 30%;
  margin: 0px 0px 6% 0.3%;
}

.notAMember {
  border-top: var(--borderColor);
  width: 100%;
  height: 90%;
  font-size: 0.8em;
  padding-top: 2%;
  margin-top: 5%;
}

.notAMembberText {
  margin: 0% 0px 0px 11%;
}

.termsAndPolicy {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 3%;
}

.termsAndPolicy > * {
  margin: 0% 3% 0% 3%;
}

.headerSignInModal {
  /* border: solid 2px pink; */
  width: 95%;
  height: 175px;
  margin: 1% 0% 3% 0%;
  position: relative;
}

.headerSignInModal h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -115%);
}
.headerSignInModal svg {
  margin: 1% 2% 0% 0%;
  float: right;
}

#signInModalCancel {
  border: none;
  background: none;
  width: 0%;
  height: 0%;
}

.signUp {
  text-decoration: underline;
  color: var(--linkColor);
  margin-left: 1%;
}
